h1 {
    background-color: whitesmoke;
    text-align: center;
    color : red;
    font-size: 48px;
  }

p {
      color: grey;
      font-size: 18px;
      : color red
    }

li {
        color: grey;
    }

h3 {
    color: palevioletred;
    text-align: center;

